@page
@model FinGram.Pages.CourseProgramModel
@{
	ViewData["Title"] = "Программа курса";
}

<div class="course-program-page">
	<div class="sidebar">
		<h2>Финансовая грамотность для всех</h2>
        <p><a href="/Calculatore">Калькулятор бюджета</a></p>
	</div>
    <div class="main-content">
        <h2>Программа курса</h2>
        <div class="course-program">
            <div class="course-topic">
                <p class="topic-title-first"><strong>1. Основы личного бюджета и планирования</strong></p>
            </div>
            <ul class="subtopics">
                <li><a href="/Lesson1_1">1.1 Что такое бюджет и зачем он нужен</a></li>
                <li><a href="/Lesson1_2">1.2 Учёт доходов, расходов и правило 50/30/20</a></li>
                <li><a href="/Lesson1_3">1.3 Формирование подушки безопасности и непредвиденные расходы</a></li>
                <li><a href="/Summary1">Конспект темы 1</a></li>
                <li><a href="/Test1">@Model.Tests[0].Title</a></li>
            </ul>

            <div class="course-topic">
                <p class="topic-title-second"><strong>2. Финансовые инструменты и безопасность</strong></p>
            </div>
            <ul class="subtopics">
                <li><a href="/Lesson2_1">2.1 Банковские продукты: вклады, кредиты и комиссии</a></li>
                <li><a href="/Lesson2_2">2.2 Карты: дебетовые vs кредитные</a></li>
                <li><a href="/Lesson2_3">2.3 Налоги и обязательные платежи: базовые виды и сроки уплаты</a></li>
                <li><a href="/Lesson2_4">2.4 Как не стать жертвой финансового мошенничества</a></li>
                <li><a href="/Summary2">Конспект темы 2</a></li>
                <li><a href="/Test2">@Model.Tests[0].Title</a></li>
                <li><a href="/TestFinal">Итоговое тестирование</a></li>
            </ul>
        </div>
    </div>
</div>