@page
@model FinGram.Pages.CourseProgramModel
@{
	ViewData["Title"] = "Программа курса";
}

<div class="course-program-page">
	<div class="sidebar">
		<h2>Финансовая грамотность для всех</h2>
		<p>Описание</p>
		<p>Комментарии</p>
		<p>Отзывы</p>
	</div>

	<div class="main-content">
		<h2>Программа курса</h2>
	</div>
</div>