@page
@model IndexModel

<div class="wrapper">
    <div class="hero-container">
        <div class="hero-text">
        <h1>
            Финансы легко,
                <br> знания — <span class="forever">навсегда</span>
            </h1>
            <p class="subtitle">платформа онлайн-образования</p>
        </div>
        <div class="hero-image">
            <img src="/images/woman.png" alt="woman with a phone" />
        </div>
        </div>
    <div class="content-sections">
        <div class="left-column">
            <div class="content-block left">
                <h2><span>На курсе</span> «FinGram: Финансовая грамотность для  всех»</h2>
                <p>
                    Вы научитесь уверенно управлять личными финансами.<br>Вас ждёт знакомство с основами финансового планирования, бюджетирования и инвестирования.
                    <br>Мы покажем, как грамотно распределять доходы и расходы, оптимизировать долги, создавать накопления и вкладывать средства с умом.
                </p>
            </div>
            <div class="course-devs">
                <img src="/images/star.png" class="img" alt="Star icon" />
                <p>
                    Курс разработан<br>специалистами в области<br>финансового образования
                </p>
            </div>
        </div>
        
        <div class="content-block right">
            <p>
                В процессе обучения вы получите:<br>
                доступ к интерактивным модулям и практическим заданиям;<br>
                полезные инструменты для анализа и планирования;<br>
                сопровождение от экспертов и ответы на важные вопросы.<br>
                Курс подойдёт как новичкам, так и тем, кто хочет структурировать знания.
            </p>
            <h2>
                Погружайтесь в мир финансов шаг за шагом — просто, наглядно и с пользой.<br>
                Начните путь к финансовой независимости уже сегодня.
            </h2>
        </div>
       
    </div>    
</div>