@page
@model FinGram.Pages.Summary2Model
@{
	ViewData["Title"] = "Конспект темы";
}

<div class="program-container">
	<div class="navigation">
		<li><a href="/Lesson1_1">1.1 Что такое бюджет и зачем он нужен</a></li>
		<li><a href="/Lesson1_2">1.2 Учёт доходов, расходов и правило 50/30/20</a></li>
		<li><a href="/Lesson1_3">1.3 Формирование подушки безопасности и непредвиденные расходы</a></li>
		<li><a href="/Summary1">Конспект темы 1</a></li>
		<li><a href="/Test1">Тест по теме "Основы личного бюджета и планирования"</a></li>
		<li><a href="/Lesson2_1">2.1 Банковские продукты: вклады, кредиты и комиссии</a></li>
		<li><a href="/Lesson2_2">2.2 Карты: дебетовые vs кредитные</a></li>
		<li><a href="/Lesson2_3">2.3 Налоги и обязательные платежи: базовые виды и сроки уплаты</a></li>
		<li><a href="/Lesson2_4">2.4 Как не стать жертвой финансового мошенничества</a></li>
		<li><a href="/Summary2" class="active-link1">Конспект темы 2</a></li>
		<li><a href="/Test2">Тест по теме "Финансовые инструменты и безопасность"</a></li>
		<li><a href="/TestFinal">Финальное тестирование</a></li>
	</div>

	<div class="program">
		<h2>Содержание</h2>

		@{
			var lessonParagraphs = Model.Content?.Split(new[] { "\r\n", "\n" }, StringSplitOptions.RemoveEmptyEntries) ?? Array.Empty<string>();
		}
		@foreach (var paragraph in lessonParagraphs)
		{
			if (paragraph.Contains("Мошенники давно вышли за рамки "))
			{
				<p class="important">@paragraph</p>
			}
			else if (paragraph.Contains("Что делать, чтобы защитить себя?"))
			{
				<p class="important">@paragraph</p>
			}
			else
			{
				<p>@paragraph</p>
			}
		}
	</div>

	
</div>

<div class="download-section"<>
	<p>Сделали для вас конспект темы в pdf-файле, чтобы он всегда был под рукой</p>
	<a href="/images/Summary2.pdf" download class="btn btn-primary" id="download-button">Скачать конспект в PDF</a>
</div>
