html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:white;
    font-family:"Raleway", sans-serif;
    color:black;
}

main {
    flex: 1 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    padding: 0;
}

.container {
    flex:1;
    z-index: 1;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing:border-box;
}

header {
    padding: 30px 90px;
    background: #FFFFFF;
    max-width: 100%;
    position: relative;
    color: black;
}

header nav{
    float:right;
    width:60%;
    padding-top:20px;
    
}

    header nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        padding: 0;
        margin: 0;
    }

        header nav ul li {
            display: inline-block;
            color: black;
            cursor: pointer;
        }

        header nav ul li.btn {
            font-size: 21px;
            padding-top: 2px;
        }

            header nav ul li a {
                font-size: 21px;
                color: black;
                text-decoration:     none;
            }

            header nav ul li.active::after {
                content: '';
                display: block;
                width: 79px;
                height: 3px;
                background: black;
                border-radius: 10px;
            }

            header nav ul li:not(.active):hover {
                border-bottom: 3px solid #000000;
                transition: all 200ms ease;
            }


header .logo {
    float: left;
}

.logo a {
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.auth-popup {
    width: 200px;
    height: 33px;
    background-color: #7D9EE4;
    position: absolute;
    top: 80px;
    left: 95%;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
} 
    .auth-popup.show {
        visibility: visible;
        opacity: 1;
    }

    .auth-popup a {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: black;
        text-decoration: none;
    }

    .auth-popup a:hover {
        text-decoration: underline;
        text-decoration-color: black; 
    }

.header-button .btn {
    background: #4A877D;
    color: white;
    padding: 12px 24px;
    border-radius: 16px;
    text-decoration: none;
    transition: background 0.4s ease;
}

.header-button .btn:hover {
    background: #302E44;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #F1F2F6;
    color: black;
    border-radius: 35px;
    margin: 30px 0;
    padding: 185px;
    margin-top: -25px;
    position: relative;
}

.hero-text{
    flex:1;
    margin-left: -120px;
    margin-top:-70px;
}

.hero-container h1{
    font-size:64px;
    font-weight:bold;
    color:black;
    margin:0;
    text-align:left;
}

.hero-container .hero-text{
    padding-top:10px;
}

span {
    background: #C8F55A;
    border-radius:55px;
    padding:5px;
    margin:0;
}

.subtitle {
    font-size: 1.0em;
    color: black;
    margin: 10px 0 0 0; 
    text-align: left;
}
.hero-container p{
    float:left;
}

.hero-image {
    position: absolute;
    right: 0px; 
    top: 19.5%;
    transform: translateY(10px);
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.content-sections {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap: 20px;
    margin: 40px 0;
    align-items: flex-start;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-block {
    background: #4A6FFE;
    color: white;
    padding: 40px;
    border-radius: 35px;
}

    .content-block.left {
        width: 500px;
        background: #F1F2F6;
        color: black;
    }
    
    .content-block.left h2 {
        font-size: 25px;
        margin-top: 0;
    }

    .content-block.left p {
        font-size: 20px;  
        margin-top: 0px;
    }

    .content-block.right {
        background: #4A6FFE;
        flex: 1;
        width: 500px;
    }


    .content-block.right h2 {
        font-size: 25px;
        margin-top: 0;
    }

    .content-block.right p {
        font-size: 20px;
        margin-top: 0px;
    }


.course-devs {
    display: flex;
    align-items: center;
}

    .course-devs .img {
        margin: 0px;
        width: 60px;
    }

    .course-devs p {
        margin: 20px;
        font-size: 18px;
    }


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.registration-cssave {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    width: 90%;
    max-width: 400px;
    display: none;
}

.close-container {
    display: flex;
    justify-content: flex-end;
}

.close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.text-center {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

    .form-control:focus {
        outline: none;
        border-color: #3B2E85;
        box-shadow: 0 0 5px rgba(59, 46, 133, 0.3);
    }

.btn-primary {
    background: #4A6FFE;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    text-align: center;
}

    .btn-primary:hover {
        background: #1747fe;
    }

.registration-cssave p {
    margin: 10px 0;
    color: #333;
    text-align: center;
}

.registration-cssave a {
    color: #4A6FFE;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .registration-cssave a:hover {
        text-decoration: underline;
    }

.footer-container {
    background: black;
    color: white;
    padding:20px 30px;
    text-align:center;
    
}

.footer-logo a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display:inline-block;
    padding:10px 20px;
    
}

    .footer-links a:hover {
        text-decoration: underline;
    }

/* MyCourses */
.my-courses-content {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top:30px;
}

.my-courses-container h1 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.statistics-card.left {
    width: 500px;
    height: 200px;
    background-color: #F1F2F6;
    border-radius: 35px;
    padding: 20px;
    display: inline-block;
    position: relative;
}

    .progress-bar {
        width: 483px;
        height: 9px;
        background-color: #FFFFFF;
        border-radius: 30px;
        overflow: hidden;
        margin-top: 10px;
    }

    .progress-fill {
        height: 100%;
        background-color: #C8F55A; 
        width: 0%; 
        transition: width 0.4s ease-in-out;
    }

    .statistics-card.left p {
        font-size: 19px;
        font-weight: 400;
        color: black;
        text-decoration: none;
    }

        .statistics-card.left p.last {
            position: absolute;
            right: 20px;
            bottom: -10px;
            font-size: 19px;
            font-weight: 400;
        }

    .statistics-card.left h1 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: black;
        text-decoration: none;
    }

    .btn-continue {
        display: inline-block;
        color: white;
        background-color: #4A6FFE;
        border-radius: 35px;
        width: 170px;
        height: 45px;
        font-family: "Raleway", sans-serif;
        font-size: 21px;
        font-weight: 500;
        text-align: center;
        line-height: 45px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

.statistics-card.right {
    width: 500px;
    height: 200px;
    background-color: #F1F2F6;
    border-radius: 35px;
    padding: 20px;
    position: relative;
}
    .statistics-card.right p {
        font-size: 20px;
    }

    .statistics-card.right p.first {
        font-family: "Space Grotesk", sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: black;
        text-decoration: none;
        margin-bottom: 4px;
        margin-top: 18px;
    }

    .statistics-card.right p.second {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: black;
        text-decoration: none;
        margin-bottom: 4px;
        margin-top: 0;
    }

    .row-text {
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
        margin-left: -150px;
    }

        .highlight-number {
            font-size: 21px;
            font-weight: 600;
            background-color: #C8F55A;
            padding: 4px 8px;
            border-radius: 55px;
        }

        .highlight-number.second {
            font-size: 21px;
            font-weight: 600;
            background-color: #C8F55A;
            padding: 4px 8px;
            border-radius: 55px;
        }

    .task-reminder {
        display: flex;
        align-items: center; 
        gap: 10px; 
    }
        .task-reminder img {
            width: 40px; 
            height: 40px;
        }
.motivation-text {
    width: 1120px;
    height: 70px;
    background-color: #4A6FFE;
    border-radius: 35px;

    flex-shrink: 0;
    flex-grow: 1;
    margin-top: 40px;
    padding: 20px;
}

    .motivation-text h1 {
        font-family: "Space Grotesk", sans-serif;
        color: white;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        margin-top: 13px;
    }

/* Personal Account */
.personal-account.first {
    display: flex;
    align-items: center;
    gap: 20px; 
}

    .personal-account.first img {
        width: 100px; 
        height: 100px;
        object-fit: cover;
    }

    .user-info h2{
        font-family: "Space Grotesk", sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: black;
        margin:0px;
    }

    .user-info p {
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 200;
        color: black;
        margin:0px;
    }

    .button-row {
        display: flex;
        gap:10px;
        margin-left: 438px;
    }

    .btn-edit {
        font-family: "Raleway", sans-serif;
        font-weight: 200;
        padding: 10px 16px;
        font-size: 20px;
        background-color: #4A6FFE;
        border: none;
        color: white;
        border-radius: 36px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-logout {
        font-family: "Raleway", sans-serif;
        font-weight: 200;
        padding: 8px 16px;
        font-size: 20px;
        background-color: #000000;
        color: white;
        border-radius: 35px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

.personal-account.second {
    display: flex;
    gap: 60px; 
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

    .personal-account.statistic {
        width: 520px;
        height: 200px;
        background-color: #F1F2F6;
        border-radius: 35px;
        padding: 20px;
    }
        .personal-account.statistic h1 {
            font-family: "Space Grotesk", sans-serif;
            font-size: 28px;
            font-weight: 600;
            color: black;
            text-decoration: none;
        }

        .personal-account.statistic p {
            font-family: "Montserrat Alternates", sans-serif;
            font-style: normal;
            font-size: 20px;
            font-weight: 400;
            color: black;
            text-decoration: none;
        }

    .personal-account.notice {
        width: 520px;
        height: 200px;
        background-color: #4A6FFE;
        border-radius: 35px;
        padding: 20px;
    }

        .personal-account.notice h1 {
            font-family: "Montserrat Alternates", sans-serif;
            font-size: 25px;
            font-weight: 600;
            color: white;
            text-decoration: none;
        }

        .personal-account.notice p {
            font-family: "Montserrat Alternates", sans-serif;
            font-style: normal;
            font-size: 20px;
            font-weight: 200;
            color: white;
            text-decoration: none;
        }

        .btn-connectnotice {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            padding: 8px 16px;
            font-size: 20px;
            background-color: #FFFFFF;
            color: black;
            border-radius: 35px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }


    .container-btn-feedback {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
        .btn-feedback {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            padding: 8px 16px;
            font-size: 20px;
            background-color: #4A6FFE;
            color: white;
            border-radius: 35px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

/* CourseProgram */
.course-program-page {
    display: flex;
    min-height: 100vh; 
}

.sidebar h2 {
    width: 45%;
    padding: 30px;
    background-color: #F0F0F0;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.main-content h2 {
    width: 55%;
    padding: 30px;
    background-color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
}

/* Àuthorization */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 50vh; 
    text-align: center;
}
    .login-container h2 {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 600;
        font-size: 35px;
    }

    .login,
    .password{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 600px;
        height: 48px;
        border-radius: 35px;
        gap: 20px;
        margin-bottom: 20px;

        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 20px;

        padding: 10px;
        font-size: 16px;
    }

    .submit-login {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 115px;
        height: 50px;
        border-radius: 35px;
        margin: 0 auto;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 20px;
        background-color: #4A6FFE;
        color: white;
        border: none;
        justify-content: center;
    }

    .submit-login:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
        cursor: pointer; 
        transition: box-shadow 0.3s ease; 
    }

/* Register */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
}

    .register-container h2 {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 600;
        font-size: 35px;
    }

    .name,
    .surename,
    .login,
    .password {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 600px;
        height: 48px;
        border-radius: 35px;
        gap: 20px;
        margin-bottom: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding: 10px;
        font-size: 16px;
    }

    .submit-reg {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 245px;
        height: 50px;
        border-radius: 35px;
        margin: 0 auto;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 20px;
        background-color: #4A6FFE;
        color: white;
        border: none;
        justify-content: center;
    }

    .submit-reg:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }